<nav class= "navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header" >
          <a  class="navbar-brand navbar-left">Insta Clone </a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive = "active" >  <a routerLink="./images" > Image Details </a> </li>
              <li routerLinkActive = "active" >  <a routerLink="../new" > Add Image </a> </li>
            </ul>

      </div>
  </div>
  </nav>

